# whole repo
*.o
!*.c
!*.h
!Makefile

# ./scantest
scantest/scan_test

# ./gpiotest
#   pass

# ./electronics/KeyboardControllerConnections
electronics/KeyboardControllerConnections/eagle.epf
electronics/KeyboardControllerConnections/*.s\#*
!electronics/KeyboardControllerConnections/*.sch
!electronics/KeyboardControllerConnections/*.brd
